article {
  padding: 60px;
  background-image: url("../images/png/tools.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.article_text {
  width: 50%;
  margin: 0 0 0 110px;
}

.article_text > h2,
.article_text > p {
  font-weight: 400;
  font-size: 21px;
  margin: 0 0 10px;
  line-height: 117%;
  text-align: center;
  color: var(--pure-white);
}

@media screen and (max-width: 1280px) {
  article {
    background-position: right;
  }

  .article_text {
    width: 67%;
    margin: 0;
  }
}

@media screen and (max-width: 576px) {
  article {
    padding: 40px;
  }

  .article_text {
    margin: 0 auto;
    width: 100%;
  }
}
