.article_container {
  background-image: url("../images/png/tools.png");
  background-repeat: no-repeat;
  background-size: cover;
}

article {
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
  padding: 60px 105px;
}

.article_text {
  width: 67%;
}

.article_text > h2,
.article_text > p {
  font-weight: 400;
  font-size: 21px;
  margin: 0 0 10px;
  line-height: 117%;
  text-align: center;
  color: var(--pure-white);
}

@media screen and (max-width: 576px) {
  article {
    padding: 40px;
  }

  .article_text {
    margin: 0 auto;
    width: 100%;
  }
}
