footer {
  background: var(--pure-black);
}

.footer {
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 280px;
  padding: 25px 30px 25px 100px;
  background-repeat: no-repeat;
  background-image: url("../images/svg/promotich-team.svg");
  background-position: right 4% bottom 25px;
  background-size: 8%;
}

footer .phone_number_block {
  box-sizing: border-box;
  width: inherit;
  padding: 10px;
  margin: 0;
}

footer .phone_number_block img {
  width: 25px;
  margin: 10px;
}

footer .contact_number {
  text-align: start;
}

footer .call_order_form {
  box-sizing: border-box;
  width: 270px;
  display: flex;
  margin: 0 auto;
  gap: 5px;
  align-self: center;
}

.rights {
  position: absolute;
  right: 0;
  left: 50%;
  transform: translate(-50%);
  bottom: 25px;
  width: fit-content;
  font-size: 15px;
  line-height: 18px;
  color: var(--disable-btn-color);
}

footer .input_name,
footer .input_phone_number {
  padding: 9px 17px;
}

footer .call_order_btn {
  padding: 9px 17px;
}

footer .phone_number_link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.footer_tools_img {
  /* position: absolute; */
  align-self: end;
  width: 25%;
  right: 40px;
  bottom: 27px;
}

.logo_number {
  width: 265px;
  text-align: center;
}

.logo_number img {
  margin: 15px;
}
.footer_nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* position: absolute; */
  right: 28%;
  top: 50%;
  /* transform: translate(-50%, -60%); */
}

.footer_nav a {
  margin: 5px 0;
}

/*  */

/* 
@media screen and (max-width: 1125px) {
  .footer_nav {
    right: 20%;
  }
}

@media screen and (max-width: 955px) {
  footer {
    display: block;
    padding: 35px 40px;
    height: fit-content;
    background-position: right 60px bottom 35px;
  }

  .logo_number {
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  .logo_number img {
    margin: 0;
  }

  footer .phone_number_block {
    width: 285px;
  }

  .rights,
  footer .call_order_form {
    position: static;
  }

  .rights {
    margin: 0 0 40px;
  }

  footer .call_order_form {
    margin: 10% 0;
  }

  .footer_nav {
    transform: none;
    top: 35%;
    right: 25%;
  }

  .footer_tools_img {
    bottom: 35px;
    width: 50%;
  }
} */
