footer {
  background: var(--pure-black);
}

.footer {
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 280px;
  padding: 25px 30px 25px 100px;
  background-repeat: no-repeat;
  background-image: url("../images/svg/promotich-team.svg");
  background-position: right 4% bottom 25px;
  background-size: 8%;
}

footer .phone_number_block {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin: 0;
}

footer .phone_number_block img {
  width: 25px;
  margin: 10px;
}

footer .contact_number {
  text-align: start;
}

footer .call_order_form {
  box-sizing: border-box;
  width: 25%;
  display: flex;
  gap: 5px;
  align-self: center;
}

.rights {
  position: absolute;
  right: 0;
  left: 50%;
  transform: translate(-50%);
  bottom: 25px;
  width: fit-content;
  font-size: 15px;
  line-height: 18px;
  color: var(--disable-btn-color);
}

footer .input_name,
footer .input_phone_number {
  padding: 9px 17px;
}

footer .call_order_btn {
  padding: 9px 17px;
}

footer .phone_number_link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.footer_tools_img {
  align-self: end;
  width: 25%;
  right: 40px;
  bottom: 27px;
}

.logo_number {
  width: 265px;
  text-align: center;
}

.logo_number img {
  margin: 15px;
}
.footer_nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer_nav a {
  margin: 5px 0;
}

/*  */

@media (max-width: 955px) {
  .footer {
    padding: 25px 60px 70px;
    height: fit-content;
    background-size: auto;
  }

  .footer_tools_img {
    display: none;
  }

  .rights {
    font-size: 12px;
  }
}

@media (max-width: 650px) {
  .footer {
    padding: 25px 30px 70px;
    flex-direction: column;
    gap: 30px;
  }

  .logo_number img {
    width: 70px;
  }

  .logo_number {
    width: 250px;
  }

  footer .phone_number_block {
    padding: 5px;
  }

  footer .call_order_form {
    width: 270px;
  }

  .footer_nav {
    position: absolute;
    right: 60px;
    top: 40px;
  }

  .rights {
    font-size: 9px;
    left: 15px;
    transform: translate(0%);
  }
}

@media (max-width: 450px) {
  .logo_number {
    margin: 0 auto;
  }

  .footer_nav {
    display: none;
  }
}
