.hero {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: calc(100vh - 120px);
  overflow: hidden;
  position: relative;
  padding: 80px 100px;
}

.hero_container {
  background-image: url(..//images/png/hero.png);
  background-repeat: no-repeat;
  background-size: 100% 122%;
  background-position: top;
}

.hero_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  height: 100%;
}

h1 {
  font-weight: 700;
  font-size: 5rem;
  line-height: 108%;
  text-transform: uppercase;
  background: var(--main-linear-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 > div {
  font-size: 3.5rem;
}

.location {
  position: absolute;
  top: 5%;
  right: 5%;
}

.location > p {
  display: inline;
  font-weight: 700;
  font-size: 35px;
  background: var(--main-linear-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero .call_order_form {
  height: fit-content;
}

.hero h2 {
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  color: var(--pure-white);
}

.hero_bottom_block {
  display: flex;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.hero_bottom_block p {
  font-size: 14px;
  line-height: 116%;
  color: var(--pure-white);
}

.hero_bottom_item {
  display: flex;
}
.hero_bottom_item > p {
  align-self: center;
}

.hero_bottom_item > img {
  margin: 0 18px 0;
}

.grad_border {
  width: 1px;
  height: 40px;
  margin: 0 50px 0 82px;
  background: var(--border-grad-color);
}
/*  */

@media (max-height: 660px) {
  .hero {
    padding: 2% 5%;
  }

  .hero_title {
    gap: 10px;
  }

  h1 {
    font-size: 3rem;
  }

  h1 > div {
    font-size: 2rem;
    line-height: 80%;
  }

  .hero h2 {
    font-size: 20px;
  }

  .call_order_form {
    width: 80%;
  }
  .input_name,
  .input_phone_number {
    padding: 10px 15px;
  }

  .location {
    transform: scale(0.5);
  }
}

@media (max-height: 500px) {
  .hero {
    height: fit-content;
    padding: 2% 5% 9%;
  }

  .phone_number_link {
    font-size: 19px;
    line-height: 15px;
  }

  .time_call_info {
    font-size: 10px;
    line-height: 14px;
  }

  .phone_number_block {
    padding: 1% 4%;
  }

  h1 {
    font-size: 2rem;
  }

  h1 > div {
    font-size: 1.5rem;
    line-height: 80%;
  }

  .hero h2 {
    font-size: 16px;
  }

  .hero_bottom_block {
    transform: translateX(-50%) scale(0.5);
    bottom: 0;
  }

  .header {
    height: 75px;
  }

  .location {
    top: 0;
    right: 0;
  }
}

@media (max-width: 750px) {
  .hero {
    padding: 80px 25px;
  }

  .hero_bottom_block {
    transform: translateX(-50%) scale(0.5);
    bottom: 0;
  }
}
