.make_order_container {
  background: var(--main-background-color);
}

.make_order_section {
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
}

.make_order_photo {
  width: 43%;
  height: 685px;
  background-image: url("../images/png/make-order.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.decor_photo {
  width: 15%;
  height: 100%;
  background: var(--accent-gradient);
}

.decor_make_order {
  width: 2px;
  background: var(--border-grad-color);
}

.make_order_block {
  position: relative;
  display: flex;
  width: calc(100% - 43%);
  justify-content: space-between;
  background: var(--pure-black);
}

.make_order_info {
  box-sizing: border-box;
  padding: 55px 95px;
}

.decor_blockY {
  width: 8%;
  height: 100%;
  background: var(--accent-gradient);
}

.decor_blockX {
  width: 30%;
  height: 3%;
  position: absolute;
  right: 0;
  bottom: 0;
  background: var(--accent-gradient);
}

.make_order .accent {
  background: var(--bright-accent);
}
.make_order h2 {
  display: inline;
  font-weight: 700;
  font-size: 40px;
  line-height: 33px;
  text-transform: uppercase;
  color: var(--pure-white);
}

.make_order_text {
  margin: 5% 0 11%;
  font-size: 18px;
  line-height: 116%;
  text-align: center;
  color: var(--disable-btn-color);
}

.make_order_text span {
  color: var(--bright-accent);
}

.make_order_form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 65%;
  margin: 0 auto;
  text-align: center;
}

.input_phone_number.make_order,
.input_name.make_order {
  width: 100%;
  border: 1px solid var(--make-order-form-input-color);
}

.input_phone_number.make_order::placeholder,
.input_name.make_order::placeholder,
.textarea_comment::placeholder {
  color: var(--make-order-form-input-color);
}

.input_phone_number.make_order:focus,
.input_phone_number.make_order:active,
.textarea_comment:focus,
.textarea_comment:active,
.input_name.make_order:focus,
.input_name.make_order:active {
  outline: none;
  border: 1px solid var(--main-border-color);
}

.textarea_comment {
  box-sizing: border-box;
  font-family: var(--font-family-main);
  display: block;
  line-height: 22px;
  font-size: 18px;
  padding: 10px 15px;
  width: 100%;
  color: var(--pure-white);
  border: 1px solid var(--make-order-form-input-color);
  background: transparent;
}

@media (max-width: 900px) {
  .make_order_info {
    padding: 55px 15px;
  }

  .make_order_form {
    width: 70%;
  }
}

@media (max-width: 650px) {
  .make_order_info {
    padding: 55px 20px;
  }

  .make_order_photo {
    display: none;
  }

  .make_order_block {
    width: 100%;
  }

  .make_order h2 {
    font-size: 30px;
    line-height: 25px;
  }

  .make_order_text {
    font-size: 15px;
  }
}
