:root {
  --font-family-main: "Montserrat", sans-serif;
  --time-color: #1f6792;
  --disable-btn-color: #c9c9c9;
  --addition-bg-color: #f4f6f7;
  --make-order-form-input-color: #84a3b5;
  --headers-color: #00324f;
  --bright-accent: #15ffff;
  --box-shadow: 2px 2px 4px 0px rgba(0, 103, 154, 0.41);
  --main-background-color: #f9f9f9;
  --warning-color: #ff0000;
  --accent-gradient: linear-gradient(
    180deg,
    rgba(0, 159, 159, 0.6) 0%,
    rgba(53, 219, 255, 0.6) 100%
  );
  --border-grad-color: linear-gradient(180deg, #000000 0%, #00a6cb 62%);
  --hover-border-color: #4ec5eb;
  --hover-btn-bg-color: linear-gradient(
    180deg,
    #041a2c 0%,
    #041a2c 26.56%,
    #003452 50%,
    #041a2c 70.83%,
    #041a2c 98.44%
  );
  --btn-background-color: #041a2c;
  --secondary-accent-color: #35dbff;
  --input-placeholder-color: #84a3b5;
  --pure-black: #000000;
  --pure-white: #ffffff;
  --addition-text-color: #bbbbbb;
  --main-linear-gradient: linear-gradient(180deg, #4eafeb 0%, #ffffff 100%);
  --main-border-color: #4eafeb;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family-main);
  margin: 0 auto;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--pure-white);
}

ul {
  list-style: none;
}

.hidden {
  display: none;
}

.headers_decor {
  text-align: center;
}
.accent {
  display: inline-block;
  vertical-align: top;
  width: 12px;
  height: 12px;
  transform: matrix(1, 0, 0, -1, 0, 0);
  background: var(--accent-gradient);
}

.headers_decor.call_cost,
.headers_decor.repair_price,
.headers_decor.work_examples,
.headers_decor.testimonials,
.headers_decor.questions {
  text-align: start;
}

.call_cost h2,
.repair_price h2,
.work_examples h2,
.testimonials h2,
.questions h2 {
  display: inline;
  font-weight: 700;
  font-size: 45px;
  line-height: 33px;
  text-align: right;
  text-transform: uppercase;
  color: var(--headers-color);
}

.input_name,
.input_phone_number {
  box-sizing: border-box;
  font-family: var(--font-family-main);
  display: block;
  line-height: 22px;
  font-size: 18px;
  padding: 15px 20px;
  color: var(--pure-white);
  border: 1px solid var(--main-border-color);
  background: transparent;
}
.input_name::placeholder,
.input_phone_number::placeholder {
  color: var(--input-placeholder-color);
}

.input_name:active,
.input_name:focus,
.input_phone_number:active,
.input_phone_number:focus {
  outline: none;
}

.call_order_btn {
  /* box-sizing: border-box; */
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  padding: 10px 15px;
  width: 100%;
  text-transform: uppercase;
  font-family: var(--font-family-main);
  color: var(--pure-white);
  border: 2px solid var(--main-border-color);
  background: var(--btn-background-color);
}

.call_order_form {
  width: 61%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.call_order_btn:hover,
.call_order_btn:focus {
  cursor: pointer;
  background: var(--hover-btn-bg-color);
  border-color: var(--hover-border-color);
}

.slider_btns {
  text-align: center;
}

.slider_btn {
  margin: 15px;
  padding: 10px 15px;
  font-size: 15px;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
  outline: 1px solid var(--secondary-accent-color);
  outline-offset: 3px;
  border: 1px solid var(--secondary-accent-color);
}

.draggable .slick-track {
  display: flex;
  gap: 25px;
}

.slider_btn:disabled {
  outline: 1px solid var(--disable-btn-color);
  border: 1px solid var(--disable-btn-color);
  transition: all 150ms ease-in-out;
}

@media screen and (max-width: 576px) {
  .headers_decor.call_cost,
  .headers_decor.repair_price,
  .headers_decor.work_examples,
  .headers_decor.testimonials,
  .headers_decor.questions {
    text-align: center;
  }

  .call_cost h2,
  .repair_price h2,
  .work_examples h2,
  .testimonials h2,
  .questions h2 {
    font-size: 30px;
    line-height: 20px;
    text-align: center;
  }
}

@media screen and (min-width: 679px) {
  .slick-dots {
    display: none !important;
  }
  .slick-dotted.slick-slider {
    margin-bottom: 0 !important;
  }
}
@media screen and (max-width: 680px) {
  .slider_btn,
  .slider_btn {
    display: none;
  }
}
