:root {
  --font-family-main: "Montserrat", sans-serif;
  --time-color: #1f6792;
  --headers-color: #00324f;
  --box-shadow: 2px 2px 4px 0px rgba(0, 103, 154, 0.41);
  --main-background-color: #f9f9f9;
  --accent-gradient: linear-gradient(
    180deg,
    rgba(0, 159, 159, 0.6) 0%,
    rgba(53, 219, 255, 0.6) 100%
  );
  --border-grad-color: linear-gradient(180deg, #000000 0%, #00a6cb 62%);
  --hover-border-color: #4ec5eb;
  --btn-background-color: #041a2c;
  --input-placeholder-color: #84a3b5;
  --pure-black: #000000;
  --pure-white: #ffffff;
  --addition-text-color: #bbbbbb;
  --main-linear-gradient: linear-gradient(180deg, #4eafeb 0%, #ffffff 100%);
  --main-border-color: #4eafeb;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family-main);
}

a {
  text-decoration: none;
  color: var(--pure-white);
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  padding: 20px 70px 0;
  background: var(--pure-black);
}

.nav_contact {
  display: flex;
}

nav {
  align-self: center;
}

nav a {
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  margin: 0 25px;
}
.phone_number_block {
  display: flex;
  padding: 17px 40px;
  margin: 0 0 0 25px;
  border: 1px solid var(--main-border-color);
}

.phone_number_block img,
.location img {
  margin: 0 10px 0 0;
}

.contact_number {
  align-self: center;
}

.phone_number_link {
  font-weight: 500;
  font-size: 23px;
  line-height: 28px;
}

.time_call_info {
  color: var(--addition-text-color);
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.1em;
}
/*  */

/* hero */
.hero {
  padding: 105px 110px 60px 205px;
  background-image: url(..//images/png/hero.png);
  background-position: 150% 230%;
}
h1 {
  font-weight: 700;
  font-size: 89px;
  line-height: 90%;
  text-transform: uppercase;
  background: var(--main-linear-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 > div {
  font-size: 60px;
}

.hero_title {
  display: flex;
  justify-content: space-between;
}

.location {
  position: relative;
  bottom: 25px;
}

.location > p {
  display: inline;
  font-weight: 700;
  font-size: 35px;
  background: var(--main-linear-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.call_order_form {
  margin: 0 0 60px;
}

.hero h2 {
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  margin: 25px 0;
  color: var(--pure-white);
}

.input_name,
.input_phone_number {
  margin: 10px 0;
  font-family: var(--font-family-main);
  display: block;
  line-height: 22px;
  font-size: 18px;
  padding: 15px 20px;
  width: 330px;
  color: var(--pure-white);
  border: 1px solid var(--main-border-color);
  background: transparent;
}
.input_name::placeholder,
.input_phone_number::placeholder {
  color: var(--input-placeholder-color);
}

.call_order_btn {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  width: 372px;
  padding: 15px;
  text-transform: uppercase;
  font-family: var(--font-family-main);
  color: var(--pure-white);
  border: 2px solid var(--main-border-color);
  background: var(--btn-background-color);
}

.call_order_btn:hover {
  cursor: pointer;
  border-color: var(--hover-border-color);
}

.hero_bottom_block {
  display: flex;
  justify-content: center;
}

.hero_bottom_block p {
  font-size: 14px;
  line-height: 116.4%;
  color: var(--pure-white);
}

.hero_bottom_item {
  display: flex;
}
.hero_bottom_item > p {
  align-self: center;
}

.hero_bottom_item > img {
  margin: 0 18px 0;
}

.grad_border {
  width: 1px;
  height: 40px;
  margin: 0 50px 0 82px;
  background: var(--border-grad-color);
}
/*  */
/*  services section*/
.services h2 {
  display: inline-block;
  font-weight: 700;
  font-size: 45px;
  line-height: 33px;
  text-transform: uppercase;
  text-align: center;
  color: var(--headers-color);
}
.headers_decor {
  text-align: center;
}
.accent {
  display: inline-block;
  vertical-align: top;
  background: var(--accent-gradient);
  width: 12px;
  height: 12px;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.services {
  padding: 85px 205px 80px;
  background-color: var(--main-background-color);
}

.service_description {
  padding: 70px 0 60px;
  justify-content: space-evenly;
}

.service_text {
  font-size: 16px;
  line-height: 116%;
}

ul {
  list-style: none;
}

.description {
  margin: 0 0 0 60px;
}

.service_description {
  display: flex;
}

.service_item {
  display: flex;
  align-items: center;
  margin: 0 0 40px;
}

.service_item.midle {
  margin: 0 0 40px 70px;
}

.list_title {
  color: var(--headers-color);
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.service_icons_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service_icon_item {
  display: flex;
  align-items: center;
  width: 200px;
  height: 200px;
  background-color: var(--pure-white);
  margin: 10px;
}

.service_icon_item:hover,
.service_icon_item:focus {
  box-shadow: var(--box-shadow);
  transition: 150ms all ease-in-out;
}

.service_icon_item > img {
  margin: 0 auto;
}

.service_icon_item .small_icon {
  margin: 20px 15px;
  align-self: flex-start;
}

.service_icon_item p {
  font-weight: 500;
  font-size: 19px;
  line-height: 90%;
  text-align: center;
}

.service_icon_item.text {
  flex-direction: column;
}
/* article */
article > h2,
article > p {
  font-weight: 400;
  font-size: 21px;
  line-height: 117.4%;
  text-align: center;
  color: var(--pure-white);
}

article {
  padding: 60px 615px 60px 175px;
  background-image: url("../images/png/tools.png");
}
/*  */
/* servise for transport */
.service_for_transport {
  padding: 70px 205px 80px;
  text-align: center;
  background: var(--main-background-color);
}
.transport_section {
  margin: 0 0 60px;
}

.service_for_transport h2 {
  display: inline;
  font-weight: 700;
  font-size: 33px;
  line-height: 25px;
  text-transform: uppercase;
  color: var(--headers-color);
}

.transport_cards_list {
  display: flex;
  justify-content: space-between;
}

.transport_card_item {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  width: 250px;
  height: 240px;
  background-color: var(--pure-white);
}

.transport_card_item > p {
  font-size: 16px;
  line-height: 20px;
  margin: 35px auto;
  width: 70%;
  text-transform: uppercase;
  color: var(--headers-color);
}
/*  */
/* call-cost section */

.call_cost_section {
  padding: 0 100px;
  background-color: var(--main-background-color);
}

.headers_decor.call_cost,
.headers_decor.repair_price {
  text-align: start;
}

.call_cost h2,
.repair_price h2 {
  display: inline;
  font-weight: 700;
  font-size: 45px;
  line-height: 33px;
  text-align: right;
  text-transform: uppercase;
  color: var(--headers-color);
}

.city_area_container {
  display: flex;
  justify-content: space-between;
  padding: 45px 0 55px;
}

.city_title_block {
  width: 48%;
  background-image: url("../images/svg/shadow-ellipse.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.city_title {
  width: fit-content;
  margin: 0 auto 30px;
  font-weight: 700;
  font-size: 30px;
  line-height: 127%;
  color: var(--headers-color);
  border-bottom: 2px solid var(--main-border-color);
}

.timing_price {
  display: flex;
  justify-content: space-between;
}

.timing_price_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
  height: 240px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 1px;
  border: 1px solid var(--main-border-color);
  background-color: var(--pure-white);
}

.timing {
  margin-top: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: var(--time-color);
}

.price {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: var(--main-border-color);
}

.addition_price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.make_order_btn {
  width: 100%;
  padding: 15px 0;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid var(--main-border-color);
  border-top: 2px solid var(--main-border-color);
  background-color: var(--pure-white);
}

.make_order_btn:hover,
.make_order_btn:focus {
  transition: 150ms all ease-in-out;
  color: var(--pure-white);
  background-color: var(--main-border-color);
}
/*  */
/* repair_price_section */
.repair_price_section {
  padding: 0 115px;
}
/*  */
