/*  services section*/
.services h2 {
  display: inline-block;
  font-weight: 700;
  font-size: 45px;
  line-height: 33px;
  text-transform: uppercase;
  text-align: center;
  color: var(--headers-color);
}

.services {
  padding: 85px 205px 80px;
  background-color: var(--main-background-color);
}

.service_description {
  padding: 70px 0 60px;
  justify-content: space-evenly;
}

.service_text {
  font-size: 16px;
  line-height: 116%;
}

.description {
  margin: 0 0 0 60px;
}

.service_description {
  display: flex;
}

.service_item {
  display: flex;
  align-items: center;
  margin: 0 0 40px;
}

.service_item.midle {
  margin: 40px 0 40px 70px;
}

.list_title {
  color: var(--headers-color);
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.service_icons_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service_icon_item:hover {
  cursor: pointer;
}

.service_icon_item {
  display: flex;
  align-items: center;
  width: 200px;
  height: 200px;
  background-color: var(--pure-white);
  margin: 9px;

  animation: backRottateY-180 1s 1 forwards;
}

.service_icon_item > img {
  margin: 0 auto;
}

.service_icon_item.invert_out_item {
  display: flex;
  transition: 150ms all ease-in-out;
  flex-direction: column;
}

.rotate_out {
  animation: outRotateY180 1s 1 forwards;
}
.shadow {
  box-shadow: var(--box-shadow);
}

.service_icon_item .invert_out_img {
  margin: 20px 15px;
  width: 40%;
  height: 40%;
  align-self: flex-end;
  transform: inherit;
}

.service_icon_item .invert_out_text {
  display: block;
  transform: inherit;
}

.service_icon_item > p {
  display: none;
  padding: 0 10px;
  font-weight: 500;
  font-size: 19px;
  line-height: 90%;
  text-align: center;
}

@keyframes outRotateY180 {
  form {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}

@keyframes backRottateY-180 {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}
/* media query */
@media (max-width: 1280px) {
  .services {
    padding: 65px 50px;
  }
}

@media (max-width: 576px) {
  .services {
    padding: 35px;
  }

  .services h2 {
    font-size: 30px;
    line-height: 22px;
  }

  .service_description {
    padding: 35px 0 60px;
  }

  .service_description > img {
    display: none;
  }

  .service_item.midle {
    margin: 40px 0;
  }
}
