/* servise for transport */
.service_for_transport {
  padding: 70px 205px 80px;
  text-align: center;
  background: var(--main-background-color);
}
.transport_section {
  margin: 0 0 60px;
}

.service_for_transport h2 {
  display: inline;
  font-weight: 700;
  font-size: 33px;
  line-height: 25px;
  text-transform: uppercase;
  color: var(--headers-color);
}

.transport_cards_list {
  display: flex;
  justify-content: space-between;
}

.transport_card_item {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  width: 22%;
  height: 240px;
  background-color: var(--pure-white);
}

.transport_card_item > p {
  font-size: 16px;
  line-height: 20px;
  margin: 35px auto;
  width: 70%;
  text-transform: uppercase;
  color: var(--headers-color);
}
/*  */
