/* servise for transport */
.transport_container {
  background: var(--main-background-color);
}

.service_for_transport {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1280px;
  padding: 70px 205px 85px;
  text-align: center;
}
.transport_section {
  margin: 0 0 60px;
}

.service_for_transport h2 {
  display: inline;
  font-weight: 700;
  font-size: 33px;
  line-height: 25px;
  text-transform: uppercase;
  color: var(--headers-color);
}

.transport_cards_list {
  display: flex;
  justify-content: space-between;
}

.transport_card_item {
  display: flex;
  flex-direction: column;
  justify-content: end;
  -webkit-justify-content: flex-end;
  align-items: center;
  width: 23%;
  height: 240px;
  background-color: var(--pure-white);
}

.transport_card_item > p {
  font-size: 16px;
  line-height: 20px;
  margin: 35px auto;
  width: 70%;
  text-transform: uppercase;
  color: var(--headers-color);
}
/*  */

@media screen and (max-width: 785px) {
  .service_for_transport {
    padding: 35px 30px;
  }

  .transport_section {
    margin: 0 0 35px;
  }

  .service_for_transport h2 {
    font-size: 25px;
    line-height: 20px;
  }

  .accent {
    vertical-align: top;
  }

  .transport_cards_list {
    flex-wrap: wrap;
  }

  .transport_card_item {
    width: 45%;
    margin: 10px;
  }
}

@media screen and (max-width: 551px) {
  .transport_cards_list {
    justify-content: center;
  }

  .transport_card_item {
    width: 80%;
  }
}
